
.container{
display:grid;
grid-template-columns: repeat(4,1fr);
column-gap: 40px;
row-gap:40px;
margin: 40px;

}
.holder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(206, 230, 255);
    flex-direction: column;
    height:200px;
    border: 5px solid black;
    
}
.btncover{
    padding-top:20px;
}